    <div class="row mb-2">
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary"><%= @shoes_category.name %></strong>
            <h3 class="mb-0">
              <%= link_to @shoes_last_post.title, post_path(@shoes_last_post), class: "text-dark" %>
            </h3>
            <div class="mb-1 text-muted"><%= time_ago_in_words(@shoes_last_post.created_at) %> ago</div>
            <p class="card-text mb-auto">
              <%= @shoes_last_post.content.length > 50 ? @shoes_last_post.content.truncate(50) : @shoes_last_post.content %>
            </p>
          <%= link_to "Continue reading...", post_path(@shoes_last_post), class: "text-blue" %>
          </div>
          <%=image_tag('download.svg', class: "card-img-right flex-auto d-none d-md-block")  %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
         <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-success"><%= @jeans_category.name %></strong>
          <h3 class="mb-0">
            <%= link_to @jeans_last_post.title, post_path(@jeans_last_post), class: "text-dark" %>
          </h3>
          <div class="mb-1 text-muted"><%= time_ago_in_words(@jeans_last_post.created_at) %> ago</div>
            <p class="card-text mb-auto">
              <%= @jeans_last_post.content.length > 50 ? @jeans_last_post.content.truncate(50) : @jeans_last_post.content %>
            </p>
          <%= link_to "Continue reading...", post_path(@jeans_last_post), class: "text-blue" %>
         </div>
            <%= image_tag('download.svg', class: "card-img-right flex-auto d-none d-md-block")  %>
         </div>
        </div>
      </div>
    </div>